@model List<HomeConcertViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row mt-2">
    @foreach (var item in Model)
    {
        <div class="col mb-2">
            <div class="card mb-3" style="width: 18rem;">
                <img class="card-img-top" src="@item.ConcertImage" alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">@item.ConcertName</h5>
                    <h5 class="card-title">@item.ArtisttName</h5>
                    <h5 class="card-title">@item.Description</h5>
                    <a asp-action="Details" asp-route-id="@item.ConcertId" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>
    }

</div>

<form asp-controller="PayPal" asp-action="CreateOrder" method="post">
    <input type="hidden" name="amount" value="19.99" />
    <input type="hidden" name="currency" value="USD" />
    <button type="submit" class="btn btn-primary">Pay with PayPal</button>
    @Html.AntiForgeryToken()
</form>